<form>
    <input type="text" id="task-title-input" name="title" />
    <input type="text" id="task-description-input" name="description" />
    <input type="submit" id="task-submit" valu="submit" />
</form>